{% extends 'base.html' %}

{% load static %}

{% block title %}Управление тестами{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/delete.css' %}">
{% endblock %}

{% block content %}
    <h1>Управление тестами</h1>
    <div class="delete-flex">
        {% for test in tests %}
            <div class="delete-flex-card">
                <div class="test-title">
                    <span class="test-title-text">
                        {{ test.title }}
                    </span>
                </div>
                <form method="post" action="{% url 'tester_panel:delete_test' test.id %}"
                      class="delete-form" style="display: inline;">
                    {% csrf_token %}
                    <button class="delete-button" type="submit"
                            onclick="return confirm('Вы уверены, что хотите удалить этот тест?')">
                        Удалить
                    </button>
                </form>
            </div>
        {% empty %}
            <p>Нет доступных тестов</p>
        {% endfor %}
    </div>
{% endblock %}