.login-text {
    color: black;
    font-size: 1.2rem;
}

.login-text a:hover {
    color: #ff8400;
}

.login-form {
    font-size: 1.2rem;
    color: black;
}

.login-label {
    margin-bottom: 6px;
}

.login-btn {
    /*padding: 2px 14px 0;*/
    /*height: 32px;*/
    width: auto;
    margin-left: 10px;

    /*background-color: black;*/
    /*border-radius: 10px;*/
    /*border: none;*/

    /*color: white;*/
    /*text-transform: uppercase;*/
}

/*.login-btn:hover {*/
/*    background-color: #ff8400;*/
/*    color: black;*/
/*}*/
